<ion-header>
  <ion-toolbar [style.--background]="miColor" mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" class="fcw"></ion-back-button>
    </ion-buttons>
    <ion-title class="fcw">Antecedentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="listadoUsuario <= 0" style="padding-top: 162px; font-size: 30px; color:#BDBDBD; text-align: center;"><p>No hay antecedentes para mostrar  <br>
    <ion-icon name="information-circle" style="font-size: 60px;"></ion-icon></p>
  </div>

  <ion-card *ngFor="let item of listadoUsuario" (click)="goToDetails(item)">
    <img *ngIf="item.UrlImagen != ''" src={{item.UrlImagen}} style="width: 100%;" />
    <ion-card-header>
      <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
      <ion-card-title class="ion-text-wrap" [style.--color]="item.Color">{{item.Nombres + ' ' + item.ApellidoPaterno + ' ' + item.ApellidoMaterno}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Edad: {{item.Edad}} años.
    </ion-card-content>
  </ion-card>   
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="logout()" [style.--background]="miColor">
    <ion-icon name="close"></ion-icon>
  </ion-fab-button>
</ion-fab>
