
<!-- <ion-header>
  <ion-toolbar color="primary" mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login" class="fcw"></ion-back-button>
    </ion-buttons>
    <ion-title class="fcw">Clave Única</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content class="container" [innerHTML]="sanitizer.bypassSecurityTrustHtml(htmlClaveUnica)"> -->
<!-- {htmlClaveUnica} -->
<!-- <div [innerHTML]="sanitizer.bypassSecurityTrustHtml(htmlClaveUnica)">

</div> -->
<!-- </ion-content> -->
<ion-content>
<!--   <div [innerHTML]="sanitizer.bypassSecurityTrustHtml(htmlClaveUnica)">

  </div> -->
  <ion-button class="btn-cu" href="https://accounts.claveunica.gob.cl/openid/authorize/?client_id=08e31dfd6f4d475d9947b70f59755dc8&response_type=code&scope=openid run name&redirect_uri=https%3a%2f%2fapp.mifamilia.com%2fApi%2fClaveUnica&state=68dmfgOr0tSGASttTn1aMml8xLzeL983">
    <span class="cl-claveunica"></span>
    <span class="texto">Iniciar sesión 2</span>
  </ion-button>
</ion-content>
