<ion-header>
  <!-- <ion-toolbar [style.--background]="miColor" mode="md"> -->
  <ion-toolbar color="primary" mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/antecedentes" class="fcw"></ion-back-button>
    </ion-buttons>
    <ion-title class="fcw">Antecedentes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="back-app">
  <!-- progress -->
  <app-progress [mostrar]="estaCargando" titulo="Buscando información del usuario"></app-progress>
  <!-- lo cambiamos por la card -->
  <ion-item lines="none" [hidden]="estaCargando" style="padding-top: 15px;">
    <!-- poner avatar -->
    <app-avatar [urlImagen] = "usuario.UrlImagen" [nombreCompleto]="usuario.Nombres + ' ' + usuario.ApellidoPaterno + ' ' + usuario.ApellidoMaterno" [parentezco]="usuario.Parentezco.Nombre"></app-avatar>
  </ion-item>
  <!-- aca viene la lista de datos personales presion, altura, etc-->
  <ion-list [hidden]="estaCargando">
    <ion-item>
      <ion-icon name="pulse" slot="start"></ion-icon>
      <ion-label>Presión <small>{{fechaPresion}}</small> </ion-label>
      <ion-label slot="end" class="ion-text-right">{{valorPresion}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="body" slot="start"></ion-icon>
      <ion-label>Altura <small>{{fechaAltura}}</small></ion-label>
      <ion-label slot="end" class="ion-text-right">{{valorAltura}}<span *ngIf="valorAltura != 'No informada'">&nbsp;cm</span></ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="logo-buffer" slot="start"></ion-icon>
      <ion-label>Peso <small>{{fechaPeso}}</small></ion-label>
      <ion-label slot="end" class="ion-text-right">{{valorPeso}}<span *ngIf="valorPeso != 'No informado'">&nbsp;Kg</span></ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="heart" slot="start"></ion-icon>
      <ion-label>IMC <small>{{fechaImc}}</small></ion-label>
      <ion-label slot="end" class="ion-text-right">{{valorImc}}</ion-label>
    </ion-item>

  </ion-list>
  <!-- aca poner el listado de alergias --> 
  <ion-list [hidden]="estaCargando">
    <ion-list-header *ngIf="alergias && alergias.length > 0">
      <div style="font-weight: 500">{{title}}</div>
    </ion-list-header>
    <ion-item *ngFor="let item of alergias" class ="lista-alergias">
      <ion-label>{{item.Descripcion}}</ion-label>
    </ion-item>
  </ion-list> 
</ion-content>
