<ion-header>
  <!-- esto lo comentamos ya que se decidió no usar color de header personalizado -->
  <!-- <ion-toolbar [style.--background]="miColor" mode="md"> -->
  <ion-toolbar color="primary" mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" class="fcw"></ion-back-button>
    </ion-buttons>
    <ion-title class="fcw">Eventos</ion-title>
    <ion-buttons slot="end" (click)="ordenar()" style="padding-right: 16px;">
      <ion-icon class="fcw" slot="icon-only" name="swap-vertical"></ion-icon>&nbsp;Ordenar
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="back-app" style="--padding-bottom: 50px !important;">
  <!-- selección de fecha -->
<!--     <ion-item class="ion-text-center" lines="none">
      <ion-icon name="calendar" slot="start"></ion-icon>
      <ion-select okText="Aceptar" cancelText="Cancelar" (ionChange)="mesSelected($event)" multiple="false" value="{{mesActualSeleccionado}}">
          <ion-select-option *ngFor="let mes of mesesVertical" [value]="mes.mesNumero">
            {{mes.mesTexto}}
          </ion-select-option>
      </ion-select>
    </ion-item> -->


 <div *ngIf="!tiene">
  <div style="position: absolute; display: table; height: 90%; font-size: 30px; color:#BDBDBD; text-align: center;" class="ion-padding">
    <p style="display: table-cell; vertical-align: middle">No hay eventos para mostrar  <br>
    <ion-icon name="information-circle" style="font-size: 50px;"></ion-icon></p>
  </div>
 </div>
 <div *ngIf="tiene">
  <div *ngFor="let item of citasVerticalTodasTop">
    <ion-grid *ngIf="item.Mostrar">
      <!-- prueba de material -->
      <!-- fila fecha superior-->
      <ion-row>
        <label class="fecha-card">{{item.NumeroDia}} de {{transformDate(item.FechaCompleta, 'MMMM')}}</label>
      </ion-row>
      <!-- fila items -->
      <ion-row class="ion-no-padding ion-no-margin row-card">
        <mat-card *ngFor="let evento of item.Eventos" color="light" style="margin-bottom: 8px;">
          <mat-card-header (click)="goToDetalleCita(evento)">
            
              <mat-card-subtitle class="hora">{{evento.HoraInicioFin}}</mat-card-subtitle>
              <mat-card-title>{{evento.DetalleEventoMes.Titulo}}</mat-card-title>
              <mat-card-subtitle>{{evento.DetalleEventoMes.NombrePaciente}}</mat-card-subtitle>
            
            <div class="img-card">
              <img class="example-header-image" src="./assets/img/{{evento.Imagen}}">
            </div>
          </mat-card-header>
          <mat-card-actions *ngIf="revisaEstado(evento)">
            <button color="primary" mat-button *ngIf="revisarCita(evento, 'Anular')[1]" (click)="presentAlertConfirm(botonCancelar, evento)">ANULAR</button>
            <button color="primary" mat-button *ngIf="revisarCita(evento, 'Confirmar')[0]" (click)="presentAlertConfirm(botonConfirmar, evento)">CONFIRMAR</button>
          </mat-card-actions>
        </mat-card>
      </ion-row>
    </ion-grid>
  </div>
  <!-- pruebas con infinite scroll -->
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más eventos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
 </div>
</ion-content>
<!-- este es el fab para abrir reservar horas -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-button color="secondary" (click)="openReservarHoraPage()" shape="round" style="--color:black;">
    <ion-icon slot="start" name="add-outline" class="botonReservar" style="font-size: 16px;"></ion-icon>
    <span class="botonReservar">RESERVAR HORA</span>
  </ion-button>
</ion-fab>
