<!-- <ion-header>
  <ion-toolbar color="primary" mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/nuevo-login" class="fcw"></ion-back-button>
    </ion-buttons>
    <ion-title class="fcw"></ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">
  <ion-row class="mt-24">
    <button mat-icon-button aria-label="Example icon-button with a heart icon" (click)="volver()">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
  </ion-row>
  <ion-row class="texto-1 mt-52">
    ¡Ayudados a conocerte!, danos tu Run.
  </ion-row>
  <form [formGroup]="forma" novalidate>
      <ion-row class="mt-32">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Run (Sin puntos y con guión)</mat-label>
          <input matInput placeholder="12535301-1" formControlName="run" name="run" required>
          <mat-error *ngIf="f.run.errors && f.run.errors.required">Run requerido</mat-error>
          <mat-error *ngIf="f.run.errors && f.run.errors.runInvalido == false">Rut inválido</mat-error>
        </mat-form-field>
      </ion-row>
      <ion-row class="mt-32">
        <button [disabled]="forma.invalid" mat-flat-button color="primary" style="width: 90%; margin-left: 5%;"
          (click)="verificaRegistro()">CONTINUAR</button>
      </ion-row>
  </form>

</ion-content>
