.text-avatar{
    font-family: 'Roboto';
    letter-spacing: 0.15px;
    color: #000000DE;
    font-size: 1em;
    margin-bottom: 0;
  }
  .subtext-avatar{
    font-family: 'Roboto';
    letter-spacing: 0.25px;
    color: #00000099;
    font-size: 0.875em;
    margin-bottom: 0;
  }
  .texto-item{
    color: #00000099;
    font-size: 14px;
}