<ion-header class="back-app">
  <ion-toolbar color="primary" mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" class="fcw"></ion-back-button>
    </ion-buttons>
    <ion-title class="fcw">Configurar familia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="back-app">
  <!-- si no hay registros -->
  <div *ngIf="hayInfo == false" style="padding-top: 162px; padding-left: 16px; padding-right: 16px; font-size: 30px; color:#BDBDBD; text-align: center;"><p>No hay familiares para mostrar  <br>
    <ion-icon name="information-circle" style="font-size: 60px;"></ion-icon></p>
  </div>
  <!-- si hay registros -->
  <div *ngIf="listadoUsuario.length > 0" style="padding-top: 32px;">
      <ion-item *ngFor="let item of listadoUsuario" (click)="openModalAjustes(item)">
        <ion-avatar slot="start">
          <img *ngIf="item.UrlImagen != ''" src={{item.UrlImagen}}>
          <img *ngIf="item.UrlImagen == ''" src="../assets/img/no-imagen.jpg">
        </ion-avatar>
        <ion-row style="display: block;">
          <h3 class="text-avatar">{{item.Nombres + ' ' + item.ApellidoPaterno + ' ' + item.ApellidoMaterno}}</h3>
          <!-- comentado por mientras, hay que ver como sacar el parentezco -->
          <p class="subtext-avatar">{{item.Parentezco}}</p>
        </ion-row>
      </ion-item>
  </div>
  <!-- ESQUELETON -->
  <div *ngIf="listadoUsuario.length == 0">
    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-item>
    </ion-list> 
  </div>


</ion-content>
