<!-- <ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">
<h1 class="mt-40">Salud Familiar</h1>
<div class="row mt-32">
  <img src="../../assets/img/asistente.png" alt="asistente"/>
</div>
<p class="mt-24">!Gestiona tus actividades de salud con tu CESFAM de forma rápida y segura!</p>
<ion-grid class="ion-no-padding mt-62">
  <ion-row>
    <ion-col>
      <button mat-stroked-button color="primary" (click)="abrirLogin()">TENGO CUENTA</button>
    </ion-col>
    <ion-col>
      <button mat-raised-button color="primary" class="ion-float-right" (click)="abrirPrimerosPasos()">PRIMEROS PASOS</button>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-row>
  
</ion-row>

</ion-content>
