<ion-content fullscreen scroll-y="false">
  <ion-slides pager="true" [options]="slideOpts" #mySlider>
    <ion-slide>
      <div class="slide">
        <div class="row">
          <img src="../../assets/imgs_svg/examenes-de-salud.svg" alt="asistente" />
        </div>
        <div class="ion-padding">
          <h1 class="mt-16 ion-text-center font-title">INFORMACIÓN SINCRONIZADA CON SU ESTABLECIMIENTO DE SALUD</h1>
          <p class="mt-32 ion-text-center">REVISE SUS <strong>ANTECEDENTES DE SALUD</strong> Y <strong>RESULTADOS DE EXÁMENES </strong> REGISTRADOS EN EL ESTABLECIMIENTO EN EL QUE SE ATIENDE REGULARMENTE</p>
          <div class="row mt-32">
            <button mat-raised-button color="primary" class="boton" (click)="slides.slideNext()">SIGUIENTE</button>
          </div>          
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <div class="row">
          <img src="../../assets/imgs_svg/calendario-01.svg" alt="asistente" />
        </div>
        <div class="ion-padding">
          <h1 class="mt-16 ion-text-center font-title">CALENDARIO CON LOS EVENTOS DE SALUD</h1>
          <p class="mt-32 ion-text-center">
            ACCEDA A UN CALENDARIO CON LOS EVENTOS RELEVANTES DE SU RELACIÓN CON SU ESTABLECIMIENTO DE SALUD: 
             <strong> ATENCIONES, RETIRO DE MEDICAMENTOS, RETIRO DE ALIMENTOS Y VACUNAS</strong>
          </p>
          <div class="row mt-32">
            <button mat-raised-button color="primary" class="boton" (click)="slides.slideNext()">SIGUIENTE</button>
          </div>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <div class="row">
          <img src="../../assets/imgs_svg/interconsulta_desactivado.svg" alt="asistente" />
        </div>
        <div class="ion-padding">
          <h1 class="mt-16 ion-text-center font-title">SEGUIMIENTO DE INTERCONSULTAS</h1>
          <p class="mt-32 ion-text-center">
            VISUALICE EL SEGUIMIENTO DE LAS <strong>SOLICITUDES DE INTERCONSULTA </strong> 
            ENTRE SU ESTABLECIMIENTO DE ATENCIÓN PRIMARIA Y EL NIVEL SECUNDARIO (HOSPITALES)
          </p>
          <div class="row mt-32">
            <button mat-raised-button color="primary" class="boton" (click)="slides.slideNext()">SIGUIENTE</button>
          </div>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <div class="row">
          <img src="../../assets/imgs_svg/agendar_citas.svg" alt="asistente" />
        </div>
        <div class="ion-padding">
          <h1 class="mt-16 ion-text-center font-title">RESERVA DE HORAS</h1>
          <p class="mt-32 ion-text-center">
            <strong>RESERVE O CANCELE EN LÍNEA </strong> 
             SUS PROXIMAS CITAS EN EL ESTABLECIMIENTO DE SALUD
          </p>
          <div class="row mt-32">
            <button mat-stroked-button color="primary" class="boton" (click)="abrirLogin()">TENGO CUENTA</button>
          </div>
          <div class="row mt-32">
            <hr>
          </div>
          <div class="row mt-32">
            <button mat-raised-button color="primary" class="boton" (click)="abrirPrimerosPasos()">REGISTRARME</button>
          </div>
        </div>
      </div>
    </ion-slide>

  </ion-slides>
</ion-content>

